@charset "utf-8";
@font-face {
  font-family: loew-extrabold;
  src: url(../font/loew/loew-ExtraBold.otf);
}
@font-face {
  font-family: ethnocentric;
  src: url(../font/loew/ethnocentric-rg.ttf);
}
body{
	margin: 0;
	padding:0;
  	font-family: loew-extrabold;
	overflow-x: hidden;
}
a{
	text-decoration:none;
}
a:hover{
  	text-decoration:none;
}
*{
	margin: 0;
	padding:0;
}
.plaka-container{
	width: 100%;
	height: 250px;
	background: #1c1b17;
	border-radius: 25px;
}
.plaka-ic{
	width: 98%;
    height: 75%;
    background: #e8e9ed;
    margin-top: 15px;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-top-left-radius: 10px;
}
.plaka-sol{
	width: 10%;
    height: 100%;
    background: #003399;
    border-top-left-radius: 10px;
    position: absolute;
}
.plaka-sol .logo-holder{
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    top: 15%;
}
.logo-holder img{
	width: 100%;
	height: auto;
	margin-top: 15%;
	padding: 0 5px;
}
.plaka-sol h2{
	font-size: 70px;
    font-weight: 600;
    text-align: center;
    color: white;
    user-select: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
}
.plaka-yazi-holder {
	position: relative;
    margin-left: auto;
    width: 89%;
    height: 100%;
    display: block;
    overflow: hidden;
}
.plaka-yazi-holder h3{
	font-size: 124px;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin: -10px;
    user-select: none;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(130,130,130,0.8);
}
.site-adres{
	position: absolute;
	top: 5px;
	left: 50%;
	transform: translateX(-50%);
	color: #f49911;
	font-size: 25px;
}
.plaka-footer{
	position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,15px);
    width: 100%;
    text-align: center;
    height: calc(25% - 15px);
    display: inline-block;
    overflow: hidden;
}
.plaka-footer h4{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    color: white;
    font-size: 34px;
    white-space: nowrap;
    user-select: none;
}
.plaka-ayarlari h5{
	font-size: 15px;
}
option[value="loew-extrabold"] {
  font-family: loew-extrabold;
}
option[value="ethnocentric"] {
  font-family: ethnocentric;
}

select[name="plaka-renk-degis"] {
  background: #FFFFFF;
}
option[value="#212529"] {
  background: #212529;
}
option[value="rgb(233, 30, 99)"] {
  background: rgb(233, 30, 99);
}
option[value="rgb(244, 67, 54)"] {
  background: rgb(244, 67, 54);
}
option[value="rgb(233, 30, 99)"] {
  background: rgb(233, 30, 99);
}
option[value="rgb(156, 39, 176)"] {
  background: rgb(156, 39, 176);
}
option[value="rgb(103, 58, 183)"] {
  background:rgb(103, 58, 183);
}
option[value="rgb(63, 81, 181)"] {
  background: rgb(63, 81, 181);
}
option[value="rgb(33, 150, 243)"] {
  background: rgb(33, 150, 243);
}
option[value="rgb(3, 169, 244)"] {
  background: rgb(3, 169, 244);
}
option[value="rgb(0, 188, 212)"] {
  background: rgb(0, 188, 212);
}
option[value="rgb(0, 150, 136)"] {
  background: rgb(0, 150, 136);
}
option[value="rgb(76, 175, 80)"] {
  background: rgb(76, 175, 80);
}
option[value="rgb(139, 195, 74)"] {
  background: rgb(139, 195, 74);
}
option[value="rgb(205, 220, 57)"] {
  background: rgb(205, 220, 57);
}
option[value="rgb(255, 235, 59)"] {
  background: rgb(255, 235, 59);
}
option[value="rgb(255, 193, 7)"] {
  background: rgb(255, 193, 7);
}
option[value="rgb(255, 152, 0)"] {
  background: rgb(255, 152, 0);
}
option[value="rgb(255, 87, 34)"] {
  background: rgb(255, 87, 34);
}
option[value="rgb(121, 85, 72)"] {
  background: rgb(121, 85, 72);
}
option[value="rgb(152, 99, 80)"] {
  background: rgb(152, 99, 80);
}
option[value="rgb(96, 125, 139)"] {
  background: rgb(96, 125, 139);
}
option[value="rgb(192, 192, 192)"] {
  background: rgb(192, 192, 192);
}
option[value="rgb(128, 128, 128)"] {
  background: rgb(128, 128, 128);
}
option[value="rgb(0, 0, 0)"] {
  background: rgb(0, 0, 0);
}

@media (max-width: 1200px) {
	.plaka-sol h2 {
    font-size: 55px;
	}
	.plaka-container {
    height: 220px;
	}
	.plaka-yazi-holder h3 {
    font-size: 100px;
	}
	.plaka-footer h4 {
    font-size: 30px;
	}
}
@media (max-width: 991px) {
	.plaka-sol h2 {
    font-size: 40px;
	}
	.plaka-container {
    height: 175px;
	}
	.plaka-yazi-holder h3 {
    font-size: 75px;
	}
	.plaka-footer h4 {
    font-size: 20px;
	}
	.site-adres {
    font-size: 12px;
	}
}
@media (max-width: 767px) {
	.plaka-sol {
    width: 14%;
	}
	.plaka-sol h2 {
    font-size: 40px;
	}
	.plaka-container {
    height: 135px;
	}
	.plaka-yazi-holder h3 {
    font-size: 50px;
    top: 60%;
	}
	.plaka-footer h4 {
    font-size: 14px;
	}
	.site-adres {
    font-size: 12px;
    top: 0px;
	}
	.plaka-sol .logo-holder {
    top: 0%;
	}

}